:root{
--Softblue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
--Verydarkbluemain: hsl(217, 54%, 11%);
--Verydarkbluecard: hsl(216, 50%, 16%);
--Verydarkblueline: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);

--cyanTransparent: hsla(178, 100%, 50%, 0.2);

font-size: 18px;
font-family: "Outfit";
font-weight: 300;
color: var(--Softblue);
}

body{
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Verydarkbluemain);
}

.container{
    max-width: 300px;
    background-color: var(--Verydarkbluecard);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 25px;
}

.item-image{
    background-image: url('images/image-equilibrium.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 320px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.viewing{
    padding: 130px;
    opacity: 0;
}

.viewing:hover {
    opacity: 1;
}



.item-image:hover{
    box-shadow: inset 0 0 0 1000px var(--cyanTransparent);
}



h1{
    color: var(--White);
    font-size: 24px;
    font-weight: 600;
}

h1:hover{
    color: var(--Cyan);
}

.price-and-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price, .time{
    display: flex;
    height: 20px;
    align-items: center;
}

h2{
    font-size: 14px;
    margin: 0;
    margin-left: 8px;
    color: var(--Cyan);
}

.time > p{
    font-size: 16px;
    margin-left: 8px;
}

hr{
    border-top: none;
    border-color: var(--Verydarkblueline);
    border-width: 1px;
    margin-top:20px;
}

strong{
    color: var(--White);
}

strong:hover{
    color: var(--Cyan)
}

.creator{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.avatar{
    border-radius: 50%;
    background-image: url('images/image-avatar.png');
    background-size: 100% 100%;
    min-width: 30px;
    min-height: 30px;
    border: solid white 1px;
    margin-right: 14px;
}